<%- include('../partials/header') %>

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 75vh;">
  <h1 class="display-4 text-danger">404</h1>
  <p class="lead">Oops! The page you’re looking for doesn’t exist.</p>
  <a href="/" class="btn btn-outline-dark mt-3">Return Home</a>
</div>


<%- include('../partials/footer') %>
