<%- include('../partials/header') %>

<main class="d-flex flex-column justify-content-center align-items-center vh-100 text-center bg-light">
  <div class="circle-wrap mb-4">
    <span class="circle-text">TogetherWorks</span>
    <div class="rotating-circle"></div>
  </div>
  <h2 class="display-5 mb-3">Thanks you!</h2>
  <p class="lead">Your message has been sent. We’ll be in touch soon.</p>

   <a href="/" class="btn btn-outline-dark btn-lg mt-3">
    Back to Home
   </a>

</main>

<%- include('../partials/footer') %>


